# Temporary workaround for ESLint 10 upgrade
# typescript-eslint@8.54.0 doesn't yet support ESLint 10
# See: https://github.com/typescript-eslint/typescript-eslint/issues/11952
# TODO: Remove this once typescript-eslint releases ESLint 10 support
legacy-peer-deps=true
