.vscode/**
.vscode-test/**
.vscode-test.json
.github/**
src/**
scripts/**
.gitignore
.eslintrc.json
eslint.config.mjs
tsconfig.json
*.vsix
**/*.ts
**/*.map
.editorconfig
*.md
!README.md
node_modules/**
